.container{
    width: 950px;
    background-color: grey;
    margin: 0px auto;
    padding: 10px;

}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 17px 
    display: block;
    
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 10px;
    display: inline-block;
    
}
.main {
    height: 400px;
    width: 710px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
    
}
.sub-content {
    height: 190px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    
    margin: 10px;
    margin-left: 20px;
   
    float: top;
}
#advertisement {
    height: 120px;
    width: 670px;
    background-color: purple;
    display: inline-block;
    margin: 20px;
    margin-bottom: 50px;
}
.row {
    /* TODO - what should go here? */

}



   